:root {
    --calc_color: #3AA6B9;
    --bg_color: #FFD0D0;
    --border_color: #FF9EAA;
    --button_color: #C1ECE4;
    --num_font: 'Biryani', sans-serif;
    --txt_font: 'Roboto Mono', monospace;
    --clr_hover: #cf808a;
    --ans_color: #5d736f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--num_font);
    font-size: 18px;
}

body {
    background-color: var(--bg_color);
    height: 100vh;
    width: 100vw;
}

footer {
    background-color: var(--border_color);
    position: absolute;
    bottom: 0;

    padding: 10px;
    text-align: center;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

a, 
a:visited {
    color: inherit;
}

/* Component Classes */
footer p {
    font-size: 14px;
}

.btn {
    border: 0;
    border-radius: 10px;
    margin: 3.5px;
    padding: 10px;
    width: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.4s;
}

.txt {
    font-family: var(--txt_font);
}

/* Primary Classes */
.row-0,
.row-1,
.row-2, 
.row-3,
.row-4 {
    display: flex;
}

.clr:hover,
#ans:hover,
.op-btn:hover {
    filter: brightness(115%);
}

#clr:hover {
    color: var(--button_color);
    background-color: var(--clr_hover);
}

.container {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-calc {
    background-color: var(--calc_color);
    border-radius: 10px;
    padding: 40px;
    border: 2px solid #FF9EAA;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap column;
}

.container-display {
    background-color: var(--button_color);
    border-radius: 10px;
    height: 70px;
    margin-bottom: 15px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clr {
    background-color: var(--border_color);
}

#op-display {
    align-self: end;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 16px;
}

#in-display {
    font-size: 28px;    
}

.row-0 {
    justify-content: space-between;
}

#ans {
    color: var(--button_color);
    background-color: var(--ans_color);
}

.op-btn {
    background-color: var(--button_color);
}

.fa-github {
    color: var(--font);
    font-size: 30px;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
transform: rotate(360deg) scale(1.2);
}